.login{
    width: 200px;
    height: 50px;
    background-color: aqua;
    text-align: center;
    line-height: 50px;
    color: red;
    cursor: pointer;
}

.login:hover{
    background-color:#ff0000;
    color: #ffffff;
}

.register{
    background-color: aqua;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}

.yuan{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100px;
}