.div_top {
    width: 100%;
    height: 64px;
    background-color: white;
}

.div_top_left {
    width: 30%;
    margin-left: 182px;
    float: left;
    margin-top: 4px;

}

.div_top_right {
    width: 50%;
    height: 50%;
    float: left;
    margin-left: 24px;
    margin-top: 18px;
}

.div_top_right span {
    font-size: 12px;
    margin-left: 12px;
    margin-top: 20px;
    color: #777777;
}

.div_top_right span:hover {
    color: #4a4a4a;
    cursor: pointer;
}

.div_center {
    width: 100%;
    height: 600px;
    background-color: #BE3233;
}

.div_center_left {
    width: 38%;
    margin-left: 184px;
    padding-top: 37px;
    float: left;
}

.div_center_right {
    width: 450px;
    height: 470px;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0px 0px 10px #9c2626;
    float: left;
    margin-top: 28px;
    margin-left: 13px;
}

.div_center_right_top {
    width: 100%;
    height: 50px;

    border-radius: 9px;
}

.log1 {
    width: 88px;
    height: 33px;
    font-size: 16px;
    color: #3f79e5;
    border-bottom: 2px solid #3f79e5;
    letter-spacing: 1px;
    padding-top: 13px;
    margin-left: 67px;
    padding-left: 2px;
    float: left;
}

.log1_hover {
    width: 88px;
    height: 33px;
    font-size: 16px;
    color: #585858;
    border-bottom: 2px solid white;
    letter-spacing: 1px;
    padding-top: 13px;
    margin-left: 67px;
    padding-left: 2px;
    float: left;
}

.log2 {
    width: 102px;
    height: 33px;
    font-size: 16px;
    color: #585858;
    border-bottom: 2px solid white;
    letter-spacing: 1px;
    padding-top: 13px;
    margin-left: 126px;
    padding-left: 1px;
    float: left;
}

.log2_hover {
    width: 102px;
    height: 33px;
    font-size: 16px;
    color: #3f79e5;
    border-bottom: 2px solid #3f79e5;
    letter-spacing: 1px;
    padding-top: 13px;
    margin-left: 126px;
    padding-left: 1px;
    float: left;
}

.log_in {
    clear: left;
    width: 100%;
    height: 130px;

}

.mobile {
    padding-top: 50px;
    text-align: center;
    color: #636463;
}

.wangyi_email {
    font-size: 16px;
    font-weight: bolder;
    color: #636463;
}

.app {
    color: #636463;
    font-size: 14px;

}

.app_download {
    padding-top: 6px;
    text-align: center;
    font-size: 13px;
    color: #3dacf3;
}

.download:hover {
    text-decoration: underline;
    cursor: pointer;
}

.erweima {
    text-align: center;
    margin-top: 8px;
}

.pc {
    margin-left: 104px;
    margin-top: 62px;
}

.pc_img {
    float: left;
}

.pc_text {
    float: left;
    margin-left: 9px;
    padding-top: 3px;
}

.text {
    font-size: 12px;
    margin-top: 1px;
    color: #909190;
}

.pc_download {
    font-size: 12px;
    margin-top: 4px;
    color: #3ca9ef;
}

.pc_download:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dashi_pc {
    font-size: 14px;
    color: #5a5b5a;
    font-weight: bolder;
}

.account {
    text-align: center;

}

.account_text {
    width: 281px;
    height: 42px;
    margin-top: 19px;
    background: url("img/account.png") no-repeat left center;
    font-size: 14px;
    padding-left: 44px;
    border: 1px solid #bdcfd8;
}

.password {
    text-align: center;
    margin-top: 16px;
}

.account_email {
    position: relative;
    top: 52px;
    left: 297px;
    color: #565656;
}


.password_text {
    width: 281px;
    height: 42px;
    background: url("img/password.png") no-repeat left center;
    font-size: 14px;
    padding-left: 44px;
    border: 1px solid #bdcfd8;
}

/*.box {*/
    /*width: 17px;*/
    /*height: 17px;*/
    /*margin-top: 18px;*/
    /*margin-left: 62px;*/
    /*border: 1px solid #373c3f;*/
    /*float: left;*/
/*}*/
.page2_checkbox{
    width: 15px;
    height: 15px;
    margin-top: 16px;
    margin-left: 59px;
    float: left;
    background-color: #1a59a3;
}

.tenday {
    float: left;
    margin-top: 17px;
    margin-left:12px;
    font-size: 12px;
    color: #9f9d9c;
}
.tenday:hover{
    cursor: pointer;
    color: #747271;
}

.forget {
    float: left;
    margin-top: 18px;
    margin-left: 175px;
    font-size: 12px;
    color: #3287d9;
}

.button {
    clear: left;
    padding-top: 50px;
    text-align: center;
}

.button1 {
    padding: 12px 46px 12px 57px;
    background-color: #3287cd;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 10px;
    color: white;
}

.button2 {
    margin-left: 1.2px;
    padding: 11px 46px 11px 55px;
    background-color: #e6f2fc;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 11px;
    border: 1px solid #ABCCEF;
    color: #3287cd;
}

.button1:hover {
    background-color: #2d79b8;
    cursor: pointer;
}

.button2:hover {
    background-color: #dae7f7;
    cursor: pointer;
}

.shengji {
    margin-top: 35px;
    margin-left: 121px;
}

.shengji:hover {
    cursor: pointer;
}

.bottom {
    margin-top: 13px;
    padding: 15px 62px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 15px;
    background-color: #faf9fb;
}

.yanxuan {
    font-size: 14px;
    color: #9b9a9c;
    cursor: pointer;
}

.tixing {
    font-size: 14px;
    margin-top: 6px;
    cursor: pointer;
    color: #cf3535;
}

.div_center_r {
    float: left;
    width: 500px;
    height: 600px;
}

.jiantou {
    clear: left;
    height: 30px;
    width: 70px;
    padding-top: 64px;
    padding-left: 400px;

}

.div_bottom {
    clear: both;
    width: 100%;
    height: 80px;
}

.logo2 {
    margin-top: 20px;
    margin-left: 183px;
    float: left;
}

.div_bottom_right {
    float: left;
    width: 850px;
    height: 80px;
    margin-top: 24px;
}

.div_bottom_right1 {
    width: 450px;
    height: 15px;
    margin-left: 234px;
    font-size: 12px;

}

.div_bottom_right1 span {
    margin-left: 12px;
    color: #898989;
}

.div_bottom_right1 span:hover {
    color: #696969;
    cursor: pointer;
}

.div_bottom_right2 {
    width: 480px;
    height: 15px;
    margin-top: 9px;
    font-size: 12px;
    margin-left: 121px;
    float: left;

}

.div_bottom_right2 span {
    margin-left: 7px;
    color: #898989;

}

.icp:hover {
    color: #696969;
    cursor: pointer;
}

.date {
    float: left;
    margin-top: 9px;
    margin-left: 2px;
    font-size: 12px;
    color: #cbcbcb;

}

.page2 {
    display: none;
}
